*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor{
    height: 100vh;
    background: #ffc107;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.tituloLogin{
    text-align: center;
    text-transform: uppercase;
}

.login{
    background: white;
    height: min-content;
    width: 360px;
    padding: 20px;
    border-radius: 12px;
}

.registro{
    background: white;
    height: min-content;
    width: 360px;
    padding: 20px;
    border-radius: 12px;
}

.form-group{
    margin-bottom: 20px;
}

.btn{
    margin-bottom: 20px;
}

.link{
    text-decoration: none;
    color: #ffc107;
}

.footer-text .link:hover{
    color: red;
}

@media only screen and (max-width: 500px) {
    
    .login{
        height: 100vh;
        width: 100%;
        border-radius: 0;
        background: lightgoldenrodyellow;
    }

    .tituloLogin{
        margin-top: 10px;
    }

    .formulario{
        margin-top: 40px;
    }

    .registro{
      height: 100vh;
      width: 100%;
      border-radius: 0;
      background: lightgoldenrodyellow;
    }

    .btn{
        margin-top: 20px;
    }
}