<nav class="navbar encabezado sticky-top navbar-expand-lg shadow">
    <div class="container-fluid">
        <!-- Titulo del navbar -->
        <a class="navbar-brand mb-0 h1 titulo-navbar" href="../views/inicio.html">Librería mundo de libros</a>
        <!-- Final titulo del navbar -->

        <!-- Boton del menu -->
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Final boton del menu -->

        <!-- Menu offcanvas -->
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel">

            <!-- Encabezado del offcanvas -->
            <div class="offcanvas-header shadow">
                <!-- Titulo del menu -->
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                <!-- Final titulo del menu -->

                <!-- Boton salir del menu -->
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                <!-- Final boton salir del menu -->
            </div>
            <!-- Final encabezado del offcanvas -->

            <!-- Cuerpo del offcanvas -->
            <div class="offcanvas-body">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                    <!-- inicio -->
                    <li class="nav-item centrar">
                        <a class="nav-link active" aria-current="page" href="../views/inicio.html"><i
                                class="bi bi-house-fill"></i> Inicio</a>
                    </li>

                    <!-- Sobre nosotros -->
                    <li class="nav-item centrar">
                        <a id="aboutLink" class="nav-link" aria-current="page" href="../views/nosotros.html"><i
                                class="bi bi-people-fill"></i> Sobre nosostros</a>
                    </li>

                    <!-- Catalogo -->
                    <li class="nav-item centrar">
                        <a id="catalogLink" class="nav-link" aria-current="page" href="../views/catalogo.html"><i
                                class="bi bi-book-fill"></i> Catalogo</a>
                    </li>

                    <!-- Contacto -->
                    <li class="nav-item centrar">
                        <a id="contactLink" class="nav-link" aria-current="page" href="../views/contacto.html"><i
                                class="bi bi-person-lines-fill"></i> Contacto</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" aria-current="page"><button onclick="cerrarSesion()" class="btn btn-warning"><i
                                    class="bi bi-box-arrow-right"></i> Cerrar sesión</button></a>
                    </li>
                </ul>

            </div>
            <!-- Final cuerpo del offcanvas -->
        </div>
        <!-- Final menu offcanvas -->
    </div>
</nav>